.modal-overlay{
    width: 20vw;
    height:20vh;
    top:50;
    left: 50;
    right: 50;
    bottom: 50;
    }
  
.modal-content{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height:1.4;
    background-color: rgb(240, 255, 254);
    padding: 14px 28px;
    border-radius: 3px;
    max-width:600px;
    min-width:300px; 
}
